# Tuple

In [1]:
y=("apple","banana","cherry")
print(y)

('apple', 'banana', 'cherry')

In [2]:
# Allow Duplicates:
x=("apple","banana","cherry","apple","cherry")
print(x)

# Tuple Length:
tt=tuple(("apple","banana","cherry"))
print(len(tt))

('apple', 'banana', 'cherry', 'apple', 'cherry')
3

In [3]:
t1=("abc",34,True,40,"male")
print(t1)

('abc', 34, True, 40, 'male')

In [4]:
q=tuple(("apple","banana","cherry")) # note the double round-brackets
print(q)

#Print the second item in the tuple:
w=("apple","banana","cherry")
print(w[1])

#Return the third, fourth, and fifth item:
e=("apple","banana","cherry","orange","kiwi","melon","mango")
print(e[2:5])

#This example returns the items from the beginning to, but NOT included, "kiwi":
t=("apple","banana","cherry","orange","kiwi","melon","mango")
print(t[:4])

#This example returns the items from index -4 (included) to index -1 (excluded)
le=("apple","banana","cherry","orange","kiwi","melon","mango")
print(le[-4:-1])

('apple', 'banana', 'cherry')
banana
('cherry', 'orange', 'kiwi')
('apple', 'banana', 'cherry', 'orange')
('orange', 'kiwi', 'melon')

In [7]:
#Convert the tuple into a list , add "orange", and convert it back into a tuple:
tt=("apple","banana","cherry")
y=list(tt)
y.append("orange")
tt=tuple(y)
print(tt)
     
# Using Asterisk*:
f=("apple","mango","papaya","pineapple","cherry")

(gre,*tro,red)=f
print(gre)
print(tro)
print(red)
     

# You can loop through the tuple items by using a for loop.
i=("apple","banana","cherry")
for x in i:
  print(x)

('apple', 'banana', 'cherry', 'orange')
apple
['mango', 'papaya', 'pineapple']
cherry
apple
banana
cherry

In [8]:
rn=5# Number to repeat
repe=3# Number of repetitions
rt=tuple(range(rn))*repe
print(rt)

tu=("apple","banana","cherry")
i=0
while i<len(tu):
  print(tu[i])
  i=i+1  

# We can join two tuples
tu1=(1,2,3)
tu2=(4,5,6)
jointu=tu1+tu2
print(jointu)
f=("apple","banana","cherry")
myt=f*2
print(myt)

(0, 1, 2, 3, 4, 0, 1, 2, 3, 4, 0, 1, 2, 3, 4)
apple
banana
cherry
(1, 2, 3, 4, 5, 6)
('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

In [9]:
myl=['apple','banana','cherry','date']
print(myl[:2])
print(myl[2:])

n=[1,2,3,4,5,6,7,8,9]
n[1:4]=[10,20,30]
print(n)

n[4:4]=[40, 50]
print(n)

['apple', 'banana']
['cherry', 'date']
[1, 10, 20, 30, 5, 6, 7, 8, 9]
[1, 10, 20, 30, 40, 50, 5, 6, 7, 8, 9]

In [10]:
# Creating tuples 
tu1=(0,1,2,3,2,3,1,3,2) 
tu2=('python','geek','python','for','java','python') 

# count the appearance of 3 
res=tu1.count(3)
print(res) 

# count the appearance of python 
res=tu2.count('python') 
print(res)
     
# Creating tuples 
tu=(0,1,(2,3),(2,3),1,[3,2],'geeks',(0,))

# count the appearance of (2, 3) 
res=tu.count((2,3))
print(res) 

# count the appearance of [3, 2] 
res=tu.count([3,2]) 
print(res)
     
f=("apple","banana","orange","apple","grape")
ac=f.count("apple")
print(ac)  
     
n=(1,2,3,2,1,4)
ct1=n.count(1)
ct2=n.count(2)
print(ct1)
print(ct2)

3
3
2
1
2
2
2

In [13]:
t=(0,1,2,3,2,3,1,3,2) 

# getting the index of 3 
res=t.index(3) 
print(res) 

# getting the index of 3 after 4th
res=t.index(3, 4) 
print(res)
     

# Creating tuples 
t=(0,1,2,3,2,3,1,3,2) 

# getting the index of 3 
res=t.index(3)
     
ft=("apple","banana","cherry","banana")

# Find the index of "banana" (first occurrence)
ib=ft.index("banana")
print(ib)

# Try finding the index of an element not in the tuple
try:
  im=ft.index("mango")
except ValueError:
  print("Not found")
     
nt=(10,20,30,40,20)
# Find the index of 20 (starting from index 1 - second element)
iaf=nt.index(20,1)
print(iaf)

# Find the index of 20 (within a specified range)
iir=nt.index(20,0,4)
print(iir)

3
5
1
Not found
1
1

Built-in Functions

In [14]:
n=[1,2,3,4,5]
leng=len(n)
print(leng)

nt=(10,20,30)
leng=len(nt)
print(leng)

5
3

In [15]:
n=[1,2,3,4,5]
ts=sum(n)
print(ts)

n=(10,20,30)
ts=sum(n)
print(ts)

15
60

In [16]:
n=[1,5,2,8,3]
lg=max(n)
print(lg)

nt=(10,20,30)
larg=max(nt)
print(larg)

8
30

In [17]:
n=[1,5,2,8,3]
smal=min(n)
print(smal)
nt=(10,20,30)
smal=min(nt)
print(smal)

1
10

In [19]:
n=[1,5,2,8,3]
sl=sorted(n)
print(sl)

n=(10,20,30,4,5)
st=sorted(n)
print("Sorted tuple:",st)

[1, 2, 3, 5, 8]
Sorted tuple: [4, 5, 10, 20, 30]

# Hands on exercise(Questions)

In [20]:
# Q1.Accessing individual elements
f=["apple","banana","cherry"]
ff=f[0]
lf=f[-1]

In [21]:
# Q2.Extracting a sublist:
n=[1,2,3,4,5]
sl1=n[1:4]
sl2=n[2:]

In [23]:
# Q3.Copying a list
ol=[6,7,8]
cl=ol[:]

In [25]:
# Q3.Copying a list
ol=[6, 7, 8]
cl=ol[:]

In [26]:
# Q4.Reversing a list:
l=['a','b','c','d']
rl=l[::-1]
     
# Q5.Counting occurrences in a string
m="Hello, world! How is your day?"
co=m.count('o')
print(co)

# Q6.Counting the occurrences of 2
n=[1,2,2,3,1,4,2]
co=n.count(2)
print(co)

4
3

In [27]:
# Q7.returns the length
nl=[1,2,3,4,5]
nt=(6,7,8,9)

ll=len(nl)
tl=len(nt)
print(ll)
print(tl)     

# Q8.returns the smallest element in the sequence.
fl=["apple","banana","cherry"]
ft=("mango","kiwi","grape")
print(min(fl))
print(min(ft))

# Q9.This function returns the largest element in the sequence.
nl=[1,5,2,8]
nt=(3,7,9,0)
print(max(nl))
print(max(nt))

5
4
apple
grape
8
9

In [3]:
# Q11. This function calculates the sum of all the elements in the sequence (assumes numeric data)
nl=[4,7,2,11]
nt=(6,3,8,1)
print(sum(nl))
print(sum(nt))

24
18